html:not(.no-js) {

  [data-aos="grid-center"] {
    opacity: 0;
    transition-property: opacity, transform;
    transform: translate3d(100px, 0, 0);

    &.aos-animate {
      opacity: 1;
      transform: none;
    }
  }
  [data-aos="grid-right"] {
    opacity: 0;
    transition-property: opacity, transform;
    transform: translate3d(-100px, 0, 0);

    &.aos-animate {
      opacity: 1;
      transform: none;
    }
  }

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  [data-aos="grid-right"] {
    opacity: 0;
    transition-property: opacity, transform;
    transform: translate3d(100px, 0, 0);

    &.aos-animate {
      opacity: 1;
      transform: none;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  [data-aos="grid-center"] {
    opacity: 0;
    transition-property: opacity, transform;
    transform: translate3d(0, 100px, 0);

    &.aos-animate {
      opacity: 1;
      transform: none;
    }
  }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

}
